@font-face {
    font-family: 'Geo-100';
    src: url('@/assets/fonts/Geologica-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo-200';
    src: url('@/assets/fonts/Geologica-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo-300';
    src: url('@/assets/fonts/Geologica-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo-400';
    src: url('@/assets/fonts/Geologica-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo-500';
    src: url('@/assets/fonts/Geologica-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geo-600';
    src: url('@/assets/fonts/Geologica-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

h1, h3, h6 {
    font-family: 'Geo-600', sans-serif;
    font-weight: 600;
}

h2, h5 {
    font-family: 'Geo-400', sans-serif;
    font-weight: 400;
}

h4, button {
    font-family: 'Geo-500', sans-serif;
    font-weight: 500;
}

li, p, span {
    font-family: 'Geo-200', sans-serif;
    font-weight: 200;
}